################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Orleans/.vs
/.vs
/Orleans/obj
/TestProject/obj
